.home{
  width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
html{
  cursor: default;
  scroll-behavior: smooth !important;
  /* overflow: auto; */
}

.intro {
  z-index: 4;
  background-color: #2B2B2B;
  color: white;
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: multiply; /* This makes the cutout text possible */
  border-radius: 20px;
  cursor: default;
}
a:hover{
  text-decoration: none !important;
}
.vertical-center {
  margin: 0;
  top: 10%;
  -ms-transform: translateY(20%);
  transform: translateY(20%);
}


body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.all{
  z-index: 1;
  opacity: 0; 
  display: none;
  transition: opacity 1s ease-in;
}
/** Loader */

  
.loader {
  height: 50px;
  transform-origin: bottom center;
  animation: rotate 3s linear infinite;
}

.circle {
  display: inline-block;
  background-color: #5271ff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: scale(0);
  animation: grow 1.5s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: palevioletred;
  animation-delay: 0.75s;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  50% {
    transform: scale(1);
  }
}
/* .main {
  z-index: 1;
  opacity: 0; 
  display: none;
  transition: opacity 1s ease-in;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
} */

.header{
    font-family: montserrat, sans-serif;
text-align: center;
font-weight: 800;
font-size: 40px;
font-style: normal;
}
.sub-header{
    font-family: montserrat, sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
    font-style: normal;
}
.left {
    height: 50vh;
    
}
#skill{
  height: 100%;
}
.box {
  margin: 4px;
  position: relative;
  
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  cursor: default;
}
.box .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  transition: 0.5s;
  font-size: 40px;
  font-weight: 700;
}
.box:nth-child(1) .icon {
  box-shadow: 0 0 0 0 #FF7171;
  background: #FF7171;
  color : #fff
}
.box:nth-child(1):hover .icon {
  box-shadow: 0 0 0 15px #FF7171;
}
.middle{
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 6;
  }
  #about{
    background-image: url('./img/sh2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    background-position: left;
  }
  .education{
    background: rgba(255, 255, 255, 0.4);
    color:black
  }
  .btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    background: rgba(0, 0, 0, 0.2) ;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #C85E86 ;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 60px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #303030;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  
  /* li{
    display: inline-block;
   }
   li a{
    text-decoration: none !important;
    font-weight: lighter;
    font-size: 20px;
    padding: 0 20px;
   }
  

   .nav{
       position: absolute;
   } */ 
   .cool-link::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FF7A7A;
    transition: width .3s;
   }
   .cool-link:hover::after{
    width: 100%;
    transition: width .3s;
   }

   @media (min-width: 767px) {
    .header{
      font-family: montserrat, sans-serif;
      text-align: center;
      font-weight: 800;
      font-size: 5vw;
      font-style: normal;
    }
  }